body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(32, 178, 171, 0.413);
  font-family: "Red Hat Display", sans-serif;

}

section {
  display: grid;
  grid-template-rows: repeat(3, 10vmin);
  grid-template-columns: repeat(3, 10vmin);
  grid-gap: 0vmin;
  border: 3px solid black;
}

div {
  border: 3px solid black;
}

#reset {
  margin-top: 20px;
  height: 40px;
  width: 100px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  background-color: blanchedalmond;
  box-shadow: 1px 1px 3px rgb(0, 0, 175);
  transition: transform 500ms, box-shadow 400ms;
}

#reset:hover {
  box-shadow: 2px 2px 5px rgb(0, 0, 175);
  transform: scale(1.02);
}